* {box-sizing: border-box}

/* Add padding to containers */
h2{
    font-family: 'Noto Sans JP', sans-serif;
}
.and-logo{
    font-family: 'Noto Sans JP', sans-serif;
    color: #303ba0;
}
.logo{
    font-family: 'Noto Sans JP', sans-serif;
    color: #303ba0;
}
.container {
  padding: 0px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #303ba0;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: rgba(45, 42, 250, 0.979);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
